@import "variables";
.input {

    &:hover {

            height: 80px;
            width: 120px;
            background-color: #ddd;
            border: 4px solid #bbb;
           
    }
    &:active {
        height: 80px;
        width: 120px;
        background-color: #ddd;
        border: 4px solid #bbb;
        outline: none;
    }

    &:focus {
        height: 80px;
        width: 120px;
        background-color: #ddd;
        border: 4px solid #bbb;
        outline: none;

    }
    &:disabled {

    }
}